{
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "prettier"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest"
  },
  "env": {
    "node": true
  }
}